<a href="https://colab.research.google.com/github/Kamill99/Data_Science/blob/main/Pandas/Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [3]:
pd.__version__

'1.4.4'

**pd.Series**

In [4]:
s = pd.Series(data=[3, 2, 4, 2, 6])
s

0    3
1    2
2    4
3    2
4    6
dtype: int64

Personalizowane indeksy

In [6]:
s = pd.Series(data=[3, 2, 4, 2, 6], index=['a', 'b', 'c', 'd', 'e'])
s

a    3
b    2
c    4
d    2
e    6
dtype: int64

Dodanie nazwy

In [7]:
s = pd.Series(data=[3, 2, 4, 2, 6], index=['a', 'b', 'c', 'd', 'e'], name='name')
s

a    3
b    2
c    4
d    2
e    6
Name: name, dtype: int64

In [8]:
import numpy as np

In [9]:
s = pd.Series(data=[3, np.nan, 4, 2, 6], index=['a', 'b', 'c', 'd', 'e'], name='name')
s

a    3.0
b    NaN
c    4.0
d    2.0
e    6.0
Name: name, dtype: float64

In [11]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [15]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20220101', periods=10))
s

2022-01-01    10
2022-01-02    11
2022-01-03    12
2022-01-04    13
2022-01-05    14
2022-01-06    15
2022-01-07    16
2022-01-08    17
2022-01-09    18
2022-01-10    19
Freq: D, dtype: int64

In [16]:
s = pd.Series(data=['python', 'java', 'C'], name='languages')
s

0    python
1      java
2         C
Name: languages, dtype: object

In [17]:
type(s)

pandas.core.series.Series

In [18]:
s.index

RangeIndex(start=0, stop=3, step=1)

Indeksy jako daty

In [19]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20220101', periods=10))
s

2022-01-01    10
2022-01-02    11
2022-01-03    12
2022-01-04    13
2022-01-05    14
2022-01-06    15
2022-01-07    16
2022-01-08    17
2022-01-09    18
2022-01-10    19
Freq: D, dtype: int64

In [20]:
s.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [21]:
list(s.index)

[Timestamp('2022-01-01 00:00:00', freq='D'),
 Timestamp('2022-01-02 00:00:00', freq='D'),
 Timestamp('2022-01-03 00:00:00', freq='D'),
 Timestamp('2022-01-04 00:00:00', freq='D'),
 Timestamp('2022-01-05 00:00:00', freq='D'),
 Timestamp('2022-01-06 00:00:00', freq='D'),
 Timestamp('2022-01-07 00:00:00', freq='D'),
 Timestamp('2022-01-08 00:00:00', freq='D'),
 Timestamp('2022-01-09 00:00:00', freq='D'),
 Timestamp('2022-01-10 00:00:00', freq='D')]

In [22]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [23]:
s.dtypes

dtype('int64')

In [24]:
s.shape

(10,)

In [25]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900})
price

Apple          200
CD Projekt      60
Amazon        1900
dtype: int64

Wydobycie danych

In [26]:
price['CD Projekt']

60

In [27]:
price[1]

60

Zliczenie elementów

In [28]:
price.count()

3

Sprawdzenie ile razy wystąpiła dana wartość

In [29]:
price.value_counts()

200     1
60      1
1900    1
dtype: int64

Sumowanie wartości

In [30]:
price.sum()

2160

Minimum wśród wartości

In [31]:
price.min()

60

Zbiór statystyk

In [32]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [33]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [34]:
price.count()

3

Wydobywanie największych wartości wśród obiektów

In [36]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

Wydobywanie najmniejszych wartości wśród obiektów

In [38]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

Ranking

In [39]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

Sortowanie

In [40]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [41]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

Metoda apply

In [44]:
price_pln = price.apply(lambda x: x * 3.8)

In [45]:
price_pln

Apple          2888.0
CD Projekt      866.4
Amazon        27436.0
KGHM              NaN
dtype: float64

**DataFrame**

In [7]:
df = pd.DataFrame(data=[12, 4, 2, 8])

In [8]:
df

    0
0  12
1   4
2   2
3   8

In [9]:
df = pd.DataFrame(data=[12, 4, 2, 8], index=['first', 'second', 'third', 'fourth'], columns=['col_1'])
df

        col_1
first      12
second      4
third       2
fourth      8

In [10]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [11]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

Wydobycie nazw kolumn

In [12]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

Wydobycie indeksów

In [13]:
df.index

Index(['first', 'second'], dtype='object')

Wydobycie wartości

In [14]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

Informacje o obiekcie

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [16]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [17]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

Selekcja kolumn

In [18]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [19]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [20]:
type(df['col_1'])

pandas.core.series.Series

In [21]:
df[['col_1']]

        col_1
first      10
second     23

Zmiana nazw kolumn

In [22]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

Wydobywanie wartości

In [23]:
df.a

first     10
second    23
Name: a, dtype: int64

In [24]:
df['d'] = df.a + df.c

In [25]:
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

Wydobycie danych

In [26]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [27]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [29]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [30]:
df.loc['first', 'col_2']

12

In [33]:
df.loc[:,'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [34]:
df.iloc[0, 1]

12